In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [6]:
df = pd.read_csv("6MW7_family_budget.csv")
df.head()

,Month,Income ($),Rent/Mortgage ($),Utilities ($),Groceries ($),Transportation ($),Total Expenses ($)
0,January,5005.0,2800.0,310.01,416.06,373.58,3899.65
1,February,5120.0,2800.0,253.56,329.08,388.55,3771.19
2,March,4990.0,2800.0,210.81,349.18,301.05,3661.04
3,April,5600.0,2800.0,240.91,296.82,218.95,3556.68
4,May,5100.0,2800.0,264.95,430.89,278.11,3773.95

In [7]:
# df['Total Expenses ($)'].idxmax()

In [3]:
highest_expense_month = df.loc[df['Total Expenses ($)'].idxmax()]
lowest_expense_month = df.loc[df['Total Expenses ($)'].idxmin()]
print("Month with Highest Expenses:", highest_expense_month['Month'])
print("Month with Lowest Expenses:", lowest_expense_month['Month'])

Month with Highest Expenses: November
Month with Lowest Expenses: April

In [8]:
df['Savings ($)'] = df['Income ($)'] - df['Total Expenses ($)']
print(df[['Month', 'Savings ($)']])

        Month  Savings ($)
0     January      1105.35
1    February      1348.81
2       March      1328.96
3       April      2043.32
4         May      1326.05
5        June      1464.60
6        July      1074.79
7      August      1131.10
8   September      1395.99
9     October      1497.89
10   November      1350.77
11   December      1433.95