In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("2DEY_kitchen_costs.csv")
df.head()

              ITEM   COST   PRT  PER PRT  AP COST     TYPE
0      ground beef   3.05    lb      3.0     1.01     meat
1    hamburger bun   3.00   bag     12.0     0.25    bread
2  american cheese  36.40  case    400.0     0.09   cheese
3          lettuce  29.59  case     20.0     1.47  produce
4           tomato  43.23  case     25.0     1.72  produce

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ITEM     15 non-null     object
 1   COST     15 non-null     float64
 2   PRT      15 non-null     object
 3   PER PRT  15 non-null     float64
 4   AP COST  15 non-null     float64
 5   TYPE     15 non-null     object
dtypes: float64(3), object(3)
memory usage: 852.0+ bytes

In [7]:
# Drop rows with missing or non-numeric values in the 'PRT' column
df = df.dropna(subset=['PRT'])

In [8]:
# Convert 'PRT' column to numeric type
df['PRT'] = pd.to_numeric(df['PRT'], errors='coerce')

In [9]:
# Calculate the average cost per unit for each item
df['Avg_Cost_Per_Unit'] = df['COST'] / df['PRT']

# Identify the item with the highest and lowest cost per unit
highest_cost_item = df.loc[df['Avg_Cost_Per_Unit'].idxmax()]
lowest_cost_item = df.loc[df['Avg_Cost_Per_Unit'].idxmin()]

# Group items by type and calculate the total expenditure for each type
total_expenditure_by_type = df.groupby('TYPE')['COST'].sum()

ValueError: attempt to get argmax of an empty sequence

In [ ]:
# Create a bar chart for cost per unit of each item
plt.figure(figsize=(10, 6))
plt.bar(df['ITEM'], df['Avg_Cost_Per_Unit'], color='skyblue')
plt.xticks(rotation=45)
plt.xlabel('Item')
plt.ylabel('Average Cost Per Unit ($)')
plt.title('Average Cost Per Unit for Each Item')
plt.show()