In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("X89N_mobilegames.csv")
df

,app_names,publishers,release_date,rating,num_reviews,installs,daily_users,monthly_users,avg_session_time,monthly_revenue,total_revenue,avg_revenue_per_user
0,Zombie Tokyo,GY Games,12-08-2018,3.9,153.25,2.12,NaN,400.0,-90.0,NaN,45.0,-5000.0
1,Paladinia,VisiSoft,05-12-2021,4.1,NaN,1.45,112.5,550.0,115.0,1.20,65.0,NaN
2,Corn Kingdoms,GY Games,01-08-2019,3.8,56.35,3.45,225.0,850.0,35.0,3.20,120.0,45.0
3,Mistveiled,Kotaru,NaN,4.5,NaN,2.45,75.0,NaN,70.0,0.60,18.0,8.0
4,Sakura Nights,VisiSoft,12-15-2015,4.8,230.02,1.35,185.0,375.0,50.0,2.40,325.0,125.0
5,Pixel Tower,MvDev,07-10-2018,NaN,90.40,0.65,50.0,150.0,25.0,0.30,80.0,5.0
6,Aether Castles,NaN,NaN,3.7,56.40,1.75,105.0,NaN,NaN,0.65,NaN,16.0
7,Sands of Time,Kotaru,01-20-2022,4.2,13.25,0.28,NaN,85.0,55.0,0.50,13.0,NaN

In [3]:
df['app_names'].value_counts()

app_names
Zombie Tokyo       1
Paladinia          1
Corn Kingdoms      1
Mistveiled         1
Sakura Nights      1
Pixel Tower        1
 Aether Castles    1
 Sands of Time     1
Name: count, dtype: int64

In [4]:
df.groupby('app_names')['rating'].max().sort_values(ascending=False)

app_names
Sakura Nights      4.8
Mistveiled         4.5
 Sands of Time     4.2
Paladinia          4.1
Zombie Tokyo       3.9
Corn Kingdoms      3.8
 Aether Castles    3.7
Pixel Tower        NaN
Name: rating, dtype: float64

In [5]:
df.duplicated().sum()

0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   app_names             8 non-null      object
 1   publishers            7 non-null      object
 2   release_date          6 non-null      object
 3   rating                7 non-null      float64
 4   num_reviews           6 non-null      float64
 5   installs              8 non-null      float64
 6   daily_users           6 non-null      float64
 7   monthly_users         6 non-null      float64
 8   avg_session_time      7 non-null      float64
 9   monthly_revenue       7 non-null      float64
 10  total_revenue         7 non-null      float64
 11  avg_revenue_per_user  6 non-null      float64
dtypes: float64(9), object(3)
memory usage: 900.0+ bytes

In [7]:
df.shape

(8, 12)

In [8]:
df.isna().mean() * 100

app_names                0.0
publishers              12.5
release_date            25.0
rating                  12.5
num_reviews             25.0
installs                 0.0
daily_users             25.0
monthly_users           25.0
avg_session_time        12.5
monthly_revenue         12.5
total_revenue           12.5
avg_revenue_per_user    25.0
dtype: float64

In [9]:
# Convert 'release_date' to datetime format
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

In [10]:
df['release_date'] = df['release_date'].fillna(df['release_date']).median()
df['num_reviews'] = df['num_reviews'].fillna(df['num_reviews'].median())
df['monthly_users'] = df['monthly_users'].fillna(df['monthly_users'].median())
df.isna().mean() * 100

app_names                0.0
publishers              12.5
release_date             0.0
rating                  12.5
num_reviews              0.0
installs                 0.0
daily_users             25.0
monthly_users            0.0
avg_session_time        12.5
monthly_revenue         12.5
total_revenue           12.5
avg_revenue_per_user    25.0
dtype: float64

In [11]:
df.head()

,app_names,publishers,release_date,rating,num_reviews,installs,daily_users,monthly_users,avg_session_time,monthly_revenue,total_revenue,avg_revenue_per_user
0,Zombie Tokyo,GY Games,2018-12-23 12:00:00,3.9,153.25,2.12,NaN,400.0,-90.0,NaN,45.0,-5000.0
1,Paladinia,VisiSoft,2018-12-23 12:00:00,4.1,73.40,1.45,112.5,550.0,115.0,1.2,65.0,NaN
2,Corn Kingdoms,GY Games,2018-12-23 12:00:00,3.8,56.35,3.45,225.0,850.0,35.0,3.2,120.0,45.0
3,Mistveiled,Kotaru,2018-12-23 12:00:00,4.5,73.40,2.45,75.0,387.5,70.0,0.6,18.0,8.0
4,Sakura Nights,VisiSoft,2018-12-23 12:00:00,4.8,230.02,1.35,185.0,375.0,50.0,2.4,325.0,125.0

In [12]:
correlation = df['rating'].corr(df['num_reviews'])
print("Correlation between rating and number of reviews:", correlation)

Correlation between rating and number of reviews: 0.5379538126011978