In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("7ENR_Monthly_Subscriptions.csv")
df.head()

         Service Price Per Month
0           rent         $3,100
1  car insurance            $96
2   car payment              325
3    cell phone               78
4        spotify              10